cargo-features = ["profile-rustflags"]

[package]
name = "negl-nrf52840"
version = "0.1.0"
edition = "2021"

[package.metadata.rktk-cli]
mcu = "Nrf52840"

[dependencies]
rktk-drivers-nrf = { path = "../rktk/lib/rktk-drivers-nrf", features = [
  "ble",
  # "nightly",
] }
rktk-drivers-common = { path = "../rktk/lib/rktk-drivers-common" }
rktk-keymanager = { path = "../rktk/lib/rktk-keymanager" }

rktk = { path = "../rktk/lib/rktk" }

embassy-embedded-hal = "0.2.0"

embassy-executor = { version = "0.6.1", features = [
  "arch-cortex-m",
  "executor-thread",
  "executor-interrupt",
  "integrated-timers",
  "task-arena-size-65536",
  # "nightly",
] }
embassy-time = { version = "0.3.2" }
embassy-nrf = { version = "0.2.0", features = [
  "gpiote",
  "time-driver-rtc1",
  "nrf52840",
  "nfc-pins-as-gpio",
  "unstable-pac",
] }
embassy-sync = { version = "0.6.0" }
nrf-softdevice = { version = "0.1.0", git = "https://github.com/embassy-rs/nrf-softdevice", features = [
  "ble-peripheral",
  "ble-central",
  "critical-section-impl",
  "s140",
  "nrf52840",
] }

cortex-m = { version = "0.7.7", features = ["inline-asm"] }
cortex-m-rt = { version = "0.7.3" }

once_cell = { version = "1.19.0", default-features = false, features = [
  "atomic-polyfill",
] }
ssd1306 = { version = "0.9.0" }

[features]
right = []
left = []
